<div class="container">


    <div class="row">
      <div class="col-md-12  d-flex justify-content-center">
          <h1 class="text-success">PRESUPUESTO DISPONIBLE</h1>
      </div>
      <div class="col-md-12  d-flex justify-content-center">
 <span class="text-success">{{presupuesto() | currency:"COP":"$":"1.2-2"}}</span>
  </div>

</div>
  <div class="row">
      <div class="col-md-12  d-flex justify-content-center">
          <h1 class="text-success">TOTAL INGRESOS</h1>
      </div>
      <div class="col-md-12  d-flex justify-content-center">
 <span class="text-success">{{sumarIngresos()  | currency:"COP":"$":"1.2-2"}}</span>
  </div>

</div>
<div class="row">
      <div class="col-md-12  d-flex justify-content-center">
          <h1 class="text-danger">TOTAL EGRESOS</h1>
      </div>
      <div class="col-md-12  d-flex justify-content-center">
 <span class="text-danger">{{sumarEgresos()  | currency:"COP":"$":"1.2-2"}}</span>
  </div>

</div>

<br>
<br>




<div class="row"> 
  <div class="col-md-12 d-flex justify-content-center" >
      <app-formulario > </app-formulario>
  </div>

</div>

<br>
<br>
<div class="row">
  <div class="col-md-6">
      <app-ingreso [arreglo]="arregloRecibidoSer"> </app-ingreso>
  </div>

    <div class="col-md-6">
      <app-egreso [sumEgreso]="sumarEgresos()"> </app-egreso>
  </div>

</div>
</div>